target/
.classpath
.project
.settings/

# We use pom.xml as the source of truth and don't rely on a specific IDE
.idea
*.iml

README_OLD.md
.openapi-generator/
ds-present-api/.openapi-generator/
ds-present-api/.openapi-generator-ignore
ds-present-web/conf/ds-present-local.yaml
ds-present-web/conf/ds-present-environment.yaml
setup_project.sh
/579_test_billeder.zip
/testdata/
/deploy2Devel11.sh
/.gitignore

# Solr Cloud
cloud
ds-present-web/bin/cache
/.editorconfig


# Contains KB-internal information for testing
ds-present-web/src/test/resources/internal-test-setup.yaml
internal_test_files/
ds-present-web/bin/custom.conf
ds-present-web/src/test/resources/transformations.log
