target/
.classpath
.project
.settings/

# We use pom.xml as the source of truth and don't rely on a specific IDE
.idea
*.iml

README_OLD.md
.openapi-generator/
conf/ds-present-environment.yaml
conf/ds-present-local.yaml
setup_project.sh
/conf/ds-present-kb-collections.yaml
