#
# This contains behaviour data: Thread allocation, allowed fields for lookup, limits for arguments etc.
#
# The behaviour config is normally controlled by developers and is part of the code repository.
# Sensitive information such as machine names and user/passwords should not be part of this config.
#
# It will be automatically merged with the environment config when accessed through the
# application config system.
#
#


# Image server URLs are injected into transformations.
# These should be overridden in environment specific config files for all environments, meaning local test,
# shared devel, stage and production
#
# Note: The server marked with "default: true" is used in the base configuration ds-present-kb-collections.yaml
 # Backing image servers for iip, iiif and deepzoom protocols
 # At KB the same IIPImage server(s) is used for all three protocols
 imageservers:
   iip:
     server: 'https://<iipimageserver>.kb.dk/'
   iiif:
     server: 'https://<iipimageserver>.kb.dk/'
     default: true
   # deepzoom can be either path- or param-based and ONLY one must be specified
   deepzoom:
     # At KB, param is used
     param: 'https://<iipimageserver>.kb.dk/'
     # path not used at KB
     # path: 'https://<iipimageserver>.kb.dk/'

# Values in the openapi part of the configuration are expected to be overwritten with the actual values used for deployment.
# These values are used to populate the OpenAPI specification without redeploying the service. They can be served by using the syntax ${config:yaml.path}.
openapi:
  # This is the URL where this service is deployed appended with /v1
  serverurl: http://localhost:9073/ds-present/v1

# This is the existing open image server at KB. It is not expected to be changed.
# The oldimageserver is special as that is used for imageIdentifier rather that bitmap delivery.
oldimageserver:
  url: "http://kb-images.kb.dk"


# In generel we are moving towards kaltura streaming instead of the local wowza installation.
streamingserver:
  # Wowza has a non-obvious URL, the /vod/_definst_/ part of the URL is important here.
  url: "https://<wowzastreamingserver>.dk:1947/vod/_definst_/"

# Used for verifying access to metadata https://github.com/kb-dk/ds-license
# If allowall is set to true (default is false), all access is granted. Use only for devel + stage
licensemodule:
  url: http://localhost:9076/ds-license/v1
  allowall: false

# Absolute paths to Excel sheets containing information used to calculate holdback periods from DR.
# This value needs to be changed to the correct placement of the files. The placeholder value is resolved from classpath
# when the files have been injected from aegis. However, full paths can be specief as well.
holdback:
  dr:
    purposeSheet: 'internal_test_files/dr_formaalstabeller_20240704.xlsx'
    holdbackSheet: 'internal_test_files/dr_holdbacktabel_20240704.xlsx'

# List of backing storages.

# The storages defined in this file are
# * ds-storage, expecting https://github.com/kb-dk/ds-storage/ to be running with the default port
# * folder, serving sample files
storages:
  # There can be multiple defined storages. The outer YAML key is used as the ID for the storage.
  - main:
      # If default is true, this will be the default storage for collections.
      # The default storage choice can be overridden in a collection with the 'storage' property
      default: true
      # Backends contains a list of one or more implementations and their configuration, with the primary key being
      # the implementation (aka type) of the backend
      #
      # Available backends are
      # ds-storage: A local instance of https://github.com/kb-dk/ds-storage/
      # folder:     Local files under the stated folder. Use only for test as the implementation in unsecure
      backends:
        # The ds-storage backend connects to a running https://github.com/kb-dk/ds-storage/ instance
        - ds-storage:
            # The URL for the DS storage service, complete with version. Mandatory
            # Sample: http://localhost:9072/ds-storage/v1/
            url: 'http://localhost:9072/ds-storage/v1/'

# Settings for handling export of multiple records
records:
  errorHandling:
    # If true, export is stopped if a transformation fails for any record
    # If false, failed records are logged and skipped
    # Default: true
    stop: true
